.DS_Store
node_modules
/dist
/garden/node_modules/
/hello-world/node_modules/
/magic/auto.py
/front/node_modules
package-lock.json
/front/node_modules/

/front/unpackage/
/front/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
